# SOC 210B Assignment 6
_By M. Nolan Gray_

In [1]:
import pandas as pd
import scipy.stats as stats

In [2]:
dtafile = './Data/nlsw88.dta'
df = pd.read_stata(dtafile)
df.sample(5)

,idcode,age,race,married,never_married,grade,collgrad,south,smsa,c_city,industry,occupation,union,wage,hours,ttl_exp,tenure
1848,4268,37,white,single,1,12.0,not college grad,1,SMSA,0,NaN,NaN,nonunion,4.138486,35.0,0.115385,0.083333
1594,3688,43,white,married,0,14.0,not college grad,0,SMSA,0,Transport/Comm/Utility,Sales,nonunion,17.665049,40.0,18.211538,0.916667
205,477,42,white,married,0,12.0,not college grad,0,nonSMSA,0,Wholesale/Retail Trade,Sales,nonunion,3.099838,30.0,10.352564,2.250000
959,2232,42,white,single,1,14.0,not college grad,0,SMSA,1,Professional Services,Professional/technical,nonunion,7.914649,40.0,20.333334,20.333334
1557,3590,44,white,single,0,13.0,not college grad,1,SMSA,1,Manufacturing,Sales,nonunion,6.038648,40.0,11.923077,3.333333

In [4]:
df1 = pd.DataFrame(df, columns = ['collgrad', 'married'])

In [5]:
data_crosstab = pd.crosstab(df1['collgrad'],
                            df1['married'],
                           margins=True, margins_name="Total")
print(data_crosstab)

married           single  married  Total
collgrad
not college grad     616     1098   1714
college grad         188      344    532
Total                804     1442   2246

In [6]:
alpha = 0.05
chi_square = 0
rows = df['collgrad'].unique()
columns = df['married'].unique()
for i in columns:
    for j in rows:
        O = data_crosstab[i][j]
        E = data_crosstab[i]['Total'] * data_crosstab['Total'][j] / data_crosstab['Total']['Total']
        chi_square += (O-E)**2/E

In [7]:
print("Approach 1: The p-value approach to hypothesis testing in the decision rule")
p_value = 1 - stats.norm.cdf(chi_square, (len(rows)-1)*(len(columns)-1))
conclusion = "Failed to reject the null hypothesis."
if p_value <= alpha:
    conclusion = "Null Hypothesis is rejected."

Approach 1: The p-value approach to hypothesis testing in the decision rule

In [8]:
print("chisquare-score is:", chi_square, " and p value is:", p_value)
print(conclusion)

chisquare-score is: 0.06380094477594009  and p value is: 0.8254146452272988
Failed to reject the null hypothesis.

In [9]:
odra = (616/1098)/(188/344)
print("the odds ratio is: ",odra)

the odds ratio is:  1.026547300701469

All of this is to say, there is not a statistically significant association between marital status and college education background. This is confirmed both by the chisquare test, which yields a p-value well above the significance threshold of 0.05, as well as by the odds ratio, which is almost exactly one.