# SOC 210B Assignment 7
_By M. Nolan Gray_

In [1]:
import statsmodels.api as sm
import pandas as pd

In [6]:
dtafile = './Data/nlsw88_occ4.dta'
df = pd.read_stata(dtafile)
df.sample(5)

,idcode,age,race,married,never_married,grade,collgrad,south,smsa,c_city,industry,occupation,union,wage,hours,ttl_exp,tenure,occ4
1799,4171,37,other,single,0,13.0,not college grad,0,nonSMSA,0,Professional Services,Sales,union,7.681153,10.0,3.269231,0.666667,lower nonmanual
36,71,34,white,married,0,12.0,not college grad,0,nonSMSA,0,Manufacturing,Sales,nonunion,5.724636,38.0,10.500000,2.500000,lower nonmanual
2056,4729,43,white,married,0,8.0,not college grad,1,nonSMSA,0,Professional Services,Laborers,NaN,3.051839,25.0,2.320513,0.333333,lower manual
724,1759,40,white,married,0,12.0,not college grad,0,nonSMSA,0,Manufacturing,Craftsmen,nonunion,5.273752,50.0,8.275640,4.250000,upper manual
607,1499,35,white,married,0,12.0,not college grad,0,SMSA,0,Finance/Ins/Real Estate,Sales,NaN,4.911432,40.0,13.519231,3.833333,lower nonmanual

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2246 entries, 0 to 2245
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   idcode         2246 non-null   int16
 1   age            2246 non-null   int8
 2   race           2246 non-null   category
 3   married        2246 non-null   category
 4   never_married  2246 non-null   int8
 5   grade          2244 non-null   float64
 6   collgrad       2246 non-null   category
 7   south          2246 non-null   int8
 8   smsa           2246 non-null   category
 9   c_city         2246 non-null   int8
 10  industry       2232 non-null   category
 11  occupation     2237 non-null   category
 12  union          1878 non-null   category
 13  wage           2246 non-null   float32
 14  hours          2242 non-null   float64
 15  ttl_exp        2246 non-null   float32
 16  tenure         2231 non-null   float32
 17  occ4           2237 non-null   category
dtypes: category(8), float32(3), float64(2), int16(1), int8(4)
memory usage: 111.5 KB

In [14]:
X1 = df[['collgrad', 'race']]
y1 = df[['never_married']]
log_reg1 = sm.Logit(y1, X1).fit()

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).